@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  /*
    div {
  width: 200px;
  padding: 20px;
  border: 5px solid black;
  box-sizing: border-box;
}Total width = 200px (everything included inside this)

So content shrinks to fit: 200 − 40 (padding) − 10 (border) = 150px of actual content space

if box-sizing:content-box ,then 200px is  only for content
Total width = 200 (content) + 40 (padding) + 10 (border) = 250px

Total height = Similar calculation


  */
  font-family:Outfit;
  scroll-behavior:smooth;
}
body{
  min-height:100vh;
}
a{
  text-decoration:none;
  color:inherit;
}
.app{
  width:80%;
  margin: auto;
}



@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}